{% extends "base.html" %}

{% block title %}Mushroom App{% endblock title %}

{% load crispy_forms_tags %}

{% block content %}
  {% if submitted %}
    <p class="success">
      The model predicts that your mushroom is
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            {% if message.message == "0.0" %}
              <li>Edible</li>
            {% elif message.message == "1.0"%}
              <li>Poisonous</li>
            {% else %}
              <li>Error</li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endif %}
    </p>

  {% else %}
    <form action="" method="post" novalidate>
      <div class="form-group">
        {{ form|crispy }}

        <input type="submit" value="Submit">

        {% csrf_token %}
      </div>
    </form>
  {% endif %}
{% endblock content %}
